/* You can add global styles to this file, and also import other style files */
body
  margin: 0

.mat-form-field-flex, button
  height: 55px !important

.mat-drawer-side
  border-right: none

.mat-sidenav
  background: #f5f5f5

.primary
  color: white
  background: #673ab7

mat-toolbar
  background: #673ab7 !important
  color: white !important
