<section>

  <h1>Configurações</h1>
  <h2>Defina aqui os valores de assento e metro quadrado</h2>

  <section *ngIf="data" class="config">
    <mat-chip-list>
      <mat-chip>Valor do metro quadrado: {{data.meter_price}}</mat-chip>
      <mat-chip>Valor do assento: {{data.seat_price}}</mat-chip>
    </mat-chip-list>
  </section>

  <form [formGroup]="form" class="wrapper">

    <mat-form-field appearance="outline">
      <mat-label>Valor do metro quadrado</mat-label>
      <input type="number" matInput formControlName="meter_price"
             placeholder="Insira aqui o valor desejado em reais">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Valor do assento</mat-label>
      <input type="number" matInput formControlName="seat_price"
             placeholder="Insira aqui o valor desejado em reais">
    </mat-form-field>

  </form>

  <section class="actions">
    <button [disabled]="!(form.get('seat_price').value && form.get('meter_price').value)"
            class="primary" mat-raised-button (click)="modifyAdminConfig()">Configurar</button>
  </section>

</section>
