<section class="wrapper">

  <section class="card-header">
    <section>
      <h3>Grupo da reserva</h3>
      <h4>1927319837</h4>
    </section>
    <section>
      <h3>Responsável</h3>
      <h4>0198131928</h4>
    </section>

    <button mat-icon-button>
      <mat-icon>delete_forever</mat-icon>
    </button>
  </section>

  <section class="card-items">
    <h3>Itens</h3>
    <section class="item">
      <section>
        <h4>Projetor 2x - R$ 20,79</h4>
        <h4>Cadeira 10x - R$ 100,00</h4>
      </section>
      <section>
        <h4>De: 01/10/2020  Até: 02/11/2020</h4>
        <h4>De: 21/10/2020  Até: 27/10/2020</h4>
      </section>
    </section>
  </section>

  <section class="card-footer">
    <h3>Data de criação: 29/09/2020</h3>
    <h3>Preço total: R$ 120,79</h3>
  </section>

</section>
