<section class="wrapper">

  <section>
    <h1>{{config.title}}</h1>
    <h2>{{config.subtitle}}</h2>
  </section>

  <section class="filter-n-action">
    <section *ngIf="config.hasFilter">
      <h3>Período de pesquisa</h3>
      <form [formGroup]="form">
        <mat-form-field appearance="outline" (click)="begin_picker.open()">
          <mat-label>De</mat-label>
          <input (dateChange)="onDateChanged()" matInput formControlName="initialDate" [matDatepicker]="begin_picker" placeholder="Data inicial da pesquisa">
          <mat-datepicker #begin_picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" (click)="end_picker.open()">
          <mat-label>Até</mat-label>
          <input (dateChange)="onDateChanged()" matInput [min]="form.get('initialDate').value" [matDatepicker]="end_picker" formControlName="finalDate" placeholder="Data final da pesquisa">
          <mat-datepicker #end_picker></mat-datepicker>
        </mat-form-field>
      </form>
    </section>

    <section *ngIf="config.hasAction">
      <button class="primary" mat-raised-button>Nova Reserva</button>
    </section>

  </section>

  <ng-container *ngIf="config?.data; else elseTemplate">
    <section class="items" *ngFor="let cardData of config.data">
      <app-reservation-card *ngIf="config.cardType === 'RESERVATION'" [data]="cardData"></app-reservation-card>
      <app-collaborator-card *ngIf="config.cardType === 'COLLABORATOR'" [data]="cardData"></app-collaborator-card>
      <app-resource-card *ngIf="config.cardType === 'RESOURCE'" [data]="cardData"></app-resource-card>
    </section>
  </ng-container>

  <ng-template #elseTemplate>
    <section class="no-reservations-yet">
      <img class="img" src="assets/img/alerta.svg" alt="Ilustração mostrando um ícone de aviso e uma parede vazia, simbolizando que nenhuma reserva foi encontrada">
      <h2>Ops! Não encontramos nenhum registro para esta pesquisa.</h2>
      <h3><b>Dica: </b>Altere o filtro de datas e tente novamente.</h3>
    </section>
  </ng-template>



</section>
