<section class="wrapper">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Criar uma nova reserva
        </mat-panel-title>
      </mat-expansion-panel-header>

      <section class="content">

        <form [formGroup]="form">
          <h4>Colaborador responsável</h4>
          <mat-form-field appearance="outline">
            <mat-label>Colaborador responsável</mat-label>
            <input (input)="filter($event.target.value, 'C')" matInput [matAutocomplete]="auto"
              formControlName="collaborator" placeholder="Pesquise pelo colaborador responsável">

            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let collaborator of filteredCollaborators" [value]="collaborator.collaborator_id">
                <h5>{{collaborator.name}} - Registro: {{collaborator.registration}}</h5>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <section class="resources-list">

            <cdk-virtual-scroll-viewport *ngIf="resources.length" [itemSize]="100" class="scroll">
              <section [formGroup]="item" *ngFor="let item of resources.controls; let i = index" class="resource-item">
                <h3>Recurso {{i + 1}}</h3>

                <section class="name-n-amount">
                  <section>
                    <h4>Nome</h4>
                    <mat-form-field appearance="outline">
                      <mat-label>Escolha um recurso para reservar</mat-label>
                      <input (input)="filter($event.target.value, 'R')" matInput [matAutocomplete]="autoResource"
                        formControlName="resource" placeholder="Pesquisa o nome do recurso">

                      <mat-autocomplete #autoResource="matAutocomplete">
                        <mat-option *ngFor="let res of filteredResources" [value]="res.id">
                          <h5>{{res.name}} ({{res.available_amount}} unidade(s) restante(s))</h5>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </section>

                  <section>
                    <h4>Qtde</h4>
                    <mat-form-field appearance="outline">
                      <mat-label>Quantidade</mat-label>
                      <input type="number" matInput formControlName="amount"
                        placeholder="Escolha os recursos da reserva">
                    </mat-form-field>
                  </section>
                </section>

                <section class="dates">
                  <section>
                    <mat-form-field appearance="outline" (click)="begin_picker.open()">
                      <mat-label>De</mat-label>
                      <input matInput [min]="currentDate" formControlName="beginDate" [matDatepicker]="begin_picker"
                        placeholder="Data inicial da pesquisa">
                      <mat-datepicker #begin_picker></mat-datepicker>
                    </mat-form-field>
                  </section>

                  <section>
                    <mat-form-field appearance="outline" (click)="end_picker.open()">
                      <mat-label>Até</mat-label>
                      <input matInput [min]="item.get('beginDate').value" [matDatepicker]="end_picker"
                        formControlName="endDate" placeholder="Data final da pesquisa">
                      <mat-datepicker #end_picker></mat-datepicker>
                    </mat-form-field>
                  </section>
                </section>
              </section>
            </cdk-virtual-scroll-viewport>


          </section>

        </form>

        <section class="new-resource">
          <span title="Adicionar recurso" (click)="onResourceSelected()" class="material-icons">add_circle</span>
        </section>

        <section class="actions">
          <button class="secundary" mat-raised-button (click)="close()">Cancelar</button>
          <button class="primary" mat-raised-button (click)="save()"
            [disabled]="form.invalid || resources.invalid">Reservar</button>
        </section>
      </section>

    </mat-expansion-panel>
  </mat-accordion>
</section>
